body {
  background-color: #fffbef;
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  /*font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: "Playfair Display", serif;
  color: #342a2a;
}

.footer {
  background-color: #6A722F;
  color: #fffbef;
}

.nav {
  position: absolute;
  height: 100%;
}

.skills {
  background-color: #fff;
}

.big-ass-wrapper {
  position: relative;
  min-height: calc(100vh - 145px);
}

.wrap {
  width: 50vw;
  box-sizing: border-box;
  line-height: 1.65;
  position: absolute;
  /*top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
}
/*
@media screen and (max-width: 800px) {
  .wrap {
    width: 75vw;
  }
}*/

@media (min-width:400px) {
  

}

.wrap h6 {
  margin: 0 0 20px;
  font-size: 25px;
}

.wrap h6:last-child {
  margin: 0;
}

.wrap h6 a {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: #342a2a;
}

.wrap h6 a::after {
  content: "";
    background: #5B7BA5;
  position: absolute;
  left: 12px;
  bottom: -6px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  z-index: -1;
  transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
}

.wrap h6 a:hover:after {
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 100%;
}
