* {
  box-sizing: border-box;
}

body {
  background-color: #fffbef;
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  /*font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: "Playfair Display", serif;
  color: #342a2a;
}

.container {
  max-width: none;
  width: 80%;
}

.hero {
  padding-top: 5%;
}

.values {
  padding: 15% 0;
}

.values p {
  font-size: 18px;
}

.values h4, .skills h4 {
  margin: 0;
}

.footer-wrapper {
  width: 100%;
  background-color: #6A722F;
}

.footer {
  color: #fffbef;
}

.social {
  display: flex;
  flex-wrap: wrap;
}

/* Things will switch to a stacked layout below this breakpoint, so we don't
   want to force heights. Also vh is bad news on mobile. */
@media (min-width: 550px) {
  html, body, .page {
    height: 100%
  }

  .body {
    height: calc(100vh - 185px);
  }

  .footer-wrapper {
    padding: 20px 0;
    height: 185px;
  }
}
