* {
  box-sizing: border-box;
}

body {
  background-color: #fffbef;
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  /*font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: "Playfair Display", serif;
  color: #342a2a;
}

a {
  color: #342a2a;
}

ul {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6, li {
  font-family: 'Playfair Display', serif;
}

h3 {
  font-weight: 700;
}

h2 {
  font-weight: 800;
}

p {
  font-family: 'Lato', sans-serif;
}

ul li:last-child {
  margin-bottom: 0;
}

.container {
  max-width: 1600px; /* change this to anything you want or remove it, but I have a big monitor and 80% is still a lot of screen space */
  width: 95%;
}

.nav h3 a {
  text-decoration: none;
}

.nav h3 a:hover {
  color: #C0E8F9;
}

.nav h3 {
  font-size: 24px;
}

.nav li {
    font-size: 18px;
}

.nav-list {
  font-weight: 700;
}

.values {
  padding: 40px 0 15px 0;
}

.values h4, .skills h4 {
  margin-top: 0;
}

.values p {
  margin-top: 20px;
  font-size: 18px;
}

.fill-wrapper {
  background-color: #D496A7;
  padding: 55px 0;
}

.skills li {
  font-size: 18px;
}

.footer-wrapper {
  width: 100%;
  padding: 20px 0;
  background-color: #6A722F;
}

.footer {
  color: #fffbef;
  text-align: center;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social a {
  text-decoration: none;
  border: 0;
  width: 36px;
  height: 36px;
  padding: 2px;
  margin: 5px;
  color: #342a2a;
  border-radius: 35%;
  background-color: #c0e8f9;
}

.social svg {
  display: block;
  fill: currentColor;
}


/* Some mobile-specific layout tweaks */
@media (max-width: 549px) {
  .nav li {
    display: inline;
  }

  .nav li:not(:last-child) {
    margin-right: 15px;
  }
}

/* Things will switch to a stacked layout below this breakpoint, so we don't
   want to force heights. Also vh is bad news on mobile. */
@media (min-width: 550px) {
  html, body, .page {
    height: 100%;
  }

  .nav li {
    display: list-item;
  }

  .container {
    width: 95%;
  }

  .body {
    height: calc(100vh - 185px);
  }

  .hero {
    padding-top: 5%;
    text-align: center;
  }

  .values h4, .skills h4 {
    margin: 0;
  }

  .values p {
    font-size: 18px;
  }

  .skills p {
    font-size: 18px;
  }

  .footer-wrapper {
    height: 185px;
  }
}
